@import url(../fonts/Roboto-Black/fonts.css);
@import url(../fonts/Roboto-Light/fonts.css);
@import url(../fonts/Roboto-Regular/fonts.css);
@font-face {
  font-family: "Roboto Black";
  src: url("Roboto-Black.eot?") format("eot"), url("Roboto-Black.woff") format("woff"), url("Roboto-Black.ttf") format("truetype"), url("Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: normal;
  font-style: normal; }

.top-bar {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cdcdcd));
  background: -webkit-linear-gradient(top, #ffffff, #cdcdcd);
  background: linear-gradient(to bottom, #ffffff, #cdcdcd);
  height: 28px;
  padding-top: 3px;
  font-family: "Conv_Roboto-Regular"; }
  .top-bar .city {
    display: block; }
  .top-bar .sity-select {
    display: inline-block; }
    .top-bar .sity-select .wrapp {
      position: relative; }
      .top-bar .sity-select .wrapp ul {
        padding: 0 10px;
        margin: 0;
        list-style: none;
        width: 100px;
        border: 1px solid transparent; }
        .top-bar .sity-select .wrapp ul li {
          display: none; }
          .top-bar .sity-select .wrapp ul li a {
            color: #339966;
            text-decoration: underline; }
        .top-bar .sity-select .wrapp ul li:first-child {
          display: block; }
          .top-bar .sity-select .wrapp ul li:first-child a:after {
            width: 0;
            height: 0;
            position: relative;
            right: -5px;
            top: 9px;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            border-color: #666666 transparent transparent transparent;
            content: ''; }
    .top-bar .sity-select .wrapp:hover ul {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: -14px;
      background: #fff;
      border: 1px solid #eee;
      z-index: 100; }
      .top-bar .sity-select .wrapp:hover ul li {
        display: block; }
      .top-bar .sity-select .wrapp:hover ul li:first-child {
        display: block; }
        .top-bar .sity-select .wrapp:hover ul li:first-child a:after {
          width: 0;
          height: 0;
          position: relative;
          right: -5px;
          top: 9px;
          border-style: solid;
          border-width: 5px 5px 0 5px;
          border-color: #666666 transparent transparent transparent;
          content: ''; }
  .top-bar .pay-service {
    display: inline-block; }
  .top-bar .wrapp-log-reg {
    text-align: right; }
    .top-bar .wrapp-log-reg .log-reg {
      background: url(../images/user.png) no-repeat left center;
      padding-left: 30px;
      display: inline-block;
      color: #666; }
      .top-bar .wrapp-log-reg .log-reg a {
        color: #666666;
        text-decoration: underline; }

.top-section .logo {
  text-align: center;
  margin-top: 12px; }

.top-section .header-center {
  margin-top: 45px; }
  .top-section .header-center .social-icon {
    display: inline-block; }
    .top-section .header-center .social-icon a {
      display: block;
      margin: 2px; }
  .top-section .header-center .header-contact {
    display: inline-block;
    color: #339966;
    font-size: 24px;
    text-transform: uppercase;
    font-family: "Conv_Roboto-Black"; }
    .top-section .header-center .header-contact .phone {
      font-size: 40px;
      line-height: 41px;
      font-family: "Conv_Roboto-Regular"; }
      .top-section .header-center .header-contact .phone .mark {
        font-size: 54px;
        color: #ce232f;
        font-family: "Conv_Roboto-Black"; }

.top-section .cart {
  margin-top: 50px;
  text-align: center;
  font-family: "Conv_Roboto-Black"; }
  .top-section .cart .cart-image {
    display: inline-block;
    vertical-align: top;
    margin-top: 7px;
    margin-right: 5px; }
  .top-section .cart .content {
    display: inline-block; }
  .top-section .cart .title a {
    color: #666666;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 25px; }
  .top-section .cart .price {
    color: #339966;
    font-size: 30px;
    line-height: 30px; }
    .top-section .cart .price .currency {
      font-size: 22px; }

.content .item {
  text-align: center;
  margin-top: 70px;
  font-family: "Conv_Roboto-Black";
  min-height: 575px; }
  .content .item .pizza-type {
    position: absolute;
    right: 40px;
    top: 114px; }
    .content .item .pizza-type .pizza-type-icon {
      display: none; }
    .content .item .pizza-type .active {
      display: block; }
  .content .item .stock {
    position: absolute;
    height: 45px;
    width: 155px;
    background: #df243b;
    font-family: "Conv_Roboto-Regular";
    font-size: 33px;
    color: #fff;
    line-height: 45px;
    top: 140px;
    left: 10px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    display: none; }
  .content .item .new {
    position: absolute;
    height: 45px;
    width: 155px;
    background: #01953c;
    font-family: "Conv_Roboto-Regular";
    font-size: 33px;
    color: #fff;
    line-height: 45px;
    top: 140px;
    left: 10px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    display: none; }
  .content .item .stock:after {
    width: 155px;
    height: 45px;
    content: '';
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    position: absolute;
    top: 28px;
    left: 4px;
    background: #de253f;
    z-index: -100;
    opacity: .99;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); }
  .content .item .new:after {
    width: 155px;
    height: 45px;
    content: '';
    -webkit-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    position: absolute;
    top: 28px;
    left: 4px;
    background: #01953c;
    z-index: -100;
    opacity: .99;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4); }
  .content .item .title {
    color: #cd202c;
    font-size: 29px;
    margin-bottom: 10px; }
  .content .item .images {
    margin-bottom: 10px; }
  .content .item .composition {
    color: #009b48;
    font-size: 12px; }
  .content .item .green {
    color: #3baf78;
    font-family: "Conv_Roboto-Regular"; }
  .content .item .ingredients {
    text-align: left;
    padding-left: 13px;
    padding-right: 13px;
    margin-bottom: 10px;
    color: #666666;
    font-size: 18px;
    font-family: "Conv_Roboto-Light";
    text-align: right; }
    .content .item .ingredients button.ingredients {
      float: left;
      width: 138px;
      height: 23px;
      background: -webkit-linear-gradient(top, #fff, #bbbaba 1px, #959494 22px, #757474 23px);
      background: linear-gradient(to bottom, #fff, #bbbaba 1px, #959494 22px, #757474 23px);
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.55);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.55);
      border-top: 1px solid #bcbcbc;
      border-left: 1px solid #747474;
      border-right: 1px solid #747474;
      border-bottom: 1px solid #3d3d3d;
      color: #fff;
      font-family: "Conv_Roboto-Light";
      text-align: center;
      font-size: 16px;
      line-height: 16px; }
  .content .item .order {
    text-align: right;
    padding-left: 13px;
    padding-right: 13px;
    font-family: "Conv_Roboto-Black";
    font-size: 24px;
    line-height: 40px; }
    .content .item .order .order-button {
      float: left;
      width: 138px;
      height: 38px;
      background: -webkit-linear-gradient(top, #d0f1e0, #44c680 1px, #049d4b 37px, #027c3b 38px);
      background: linear-gradient(to bottom, #d0f1e0, #44c680 1px, #049d4b 37px, #027c3b 38px);
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.55);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.55);
      border-top: 1px solid #46c681;
      border-left: 1px solid #46c681;
      border-right: 1px solid #46c681;
      border-bottom: 1px solid #00411f;
      font-family: "Conv_Roboto-Black";
      font-size: 20px;
      line-height: 20px;
      color: #fff;
      text-transform: uppercase; }
    .content .item .order .more {
      background: -webkit-linear-gradient(top, #ffecbf, #feb200 1px, #ec8304 37px, #bb6804 38px);
      background: linear-gradient(to bottom, #ffecbf, #feb200 1px, #ec8304 37px, #bb6804 38px);
      -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.55);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.55);
      border-top: 1px solid #feb300;
      border-left: 1px solid #ac6b01;
      border-right: 1px solid #ac6b01;
      border-bottom: 1px solid #633702; }
    .content .item .order .curency {
      font-size: 18px; }

.content .stock-item .stock {
  display: block; }

.content .stock-item .composition {
  color: #d0333d; }

.content .stock-item .thickness-switch .switch-input:checked + .switch-label {
  color: #d0333d; }

.content .stock-item .switch .switch-selection {
  background: url(../images/notching.png) no-repeat 5px center, -webkit-linear-gradient(top, #fad9db, #ed656e 1px, #d1343f 100px, #a62931 101px);
  background: url(../images/notching.png) no-repeat 5px center, linear-gradient(to bottom, #fad9db, #ed656e 1px, #d1343f 100px, #a62931 101px);
  border-top: 1px solid #ec666f;
  border-left: 1px solid #9d363d;
  border-right: 1px solid #9d363d;
  border-bottom: 1px solid #57151a; }

.content .stock-item .thickness-switch .switch-selection {
  background: -webkit-linear-gradient(top, #fad9db, #ed656e 1px, #d1343f 5px);
  background: linear-gradient(to bottom, #fad9db, #ed656e 1px, #d1343f 5px);
  border-top: 1px solid #ec666f;
  border-left: 1px solid #9d363d;
  border-right: 1px solid #9d363d;
  border-bottom: 1px solid #57151a; }

.content .stock-item .order .order-button {
  background: -webkit-linear-gradient(top, #fad9db, #ed656e 1px, #d1343f 37px, #a62931 38px);
  background: linear-gradient(to bottom, #fad9db, #ed656e 1px, #d1343f 37px, #a62931 38px);
  border-top: 1px solid #ec666f;
  border-left: 1px solid #9d363d;
  border-right: 1px solid #9d363d;
  border-bottom: 1px solid #57151a; }

.content .stock-item .order .price {
  display: none; }

.content .stock-item .stock-price-block {
  display: block;
  line-height: 1; }
  .content .stock-item .stock-price-block .red {
    color: #cc3333; }
  .content .stock-item .stock-price-block .price-stock {
    font-family: "Conv_Roboto-Black";
    font-size: 24px;
    line-height: 24px; }
  .content .stock-item .stock-price-block .price-old {
    font-family: "Conv_Roboto-Black";
    font-size: 14px;
    text-decoration: line-through;
    float: left;
    margin-left: 10px; }
    .content .stock-item .stock-price-block .price-old .curency {
      font-size: 12px; }

.content .new-item .new {
  display: block; }

.content .new-item .composition {
  color: #d0333d; }

.content .new-item .thickness-switch .switch-input:checked + .switch-label {
  color: #d0333d; }

.content .new-item .switch .switch-selection {
  background: url(../images/notching.png) no-repeat 5px center, -webkit-linear-gradient(top, #fad9db, #ed656e 1px, #d1343f 100px, #a62931 101px);
  background: url(../images/notching.png) no-repeat 5px center, linear-gradient(to bottom, #fad9db, #ed656e 1px, #d1343f 100px, #a62931 101px);
  border-top: 1px solid #ec666f;
  border-left: 1px solid #9d363d;
  border-right: 1px solid #9d363d;
  border-bottom: 1px solid #57151a; }

.content .new-item .thickness-switch .switch-selection {
  background: -webkit-linear-gradient(top, #fad9db, #ed656e 1px, #d1343f 5px);
  background: linear-gradient(to bottom, #fad9db, #ed656e 1px, #d1343f 5px);
  border-top: 1px solid #ec666f;
  border-left: 1px solid #9d363d;
  border-right: 1px solid #9d363d;
  border-bottom: 1px solid #57151a; }

.content .new-item .order .order-button {
  background: -webkit-linear-gradient(top, #fad9db, #ed656e 1px, #d1343f 37px, #a62931 38px);
  background: linear-gradient(to bottom, #fad9db, #ed656e 1px, #d1343f 37px, #a62931 38px);
  border-top: 1px solid #ec666f;
  border-left: 1px solid #9d363d;
  border-right: 1px solid #9d363d;
  border-bottom: 1px solid #57151a; }

.content .new-item .order .price {
  display: none; }

.content .new-item .stock-price-block {
  display: block;
  line-height: 1; }
  .content .new-item .stock-price-block .red {
    color: #cc3333; }
  .content .new-item .stock-price-block .price-stock {
    font-family: "Conv_Roboto-Black";
    font-size: 24px;
    line-height: 24px; }
  .content .new-item .stock-price-block .price-old {
    font-family: "Conv_Roboto-Black";
    font-size: 14px;
    text-decoration: line-through;
    float: left;
    margin-left: 10px; }
    .content .new-item .stock-price-block .price-old .curency {
      font-size: 12px; }

.content .switch {
  position: relative;
  height: 50px;
  width: 235px;
  margin: 20px auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#e0e0e0));
  background-image: -webkit-linear-gradient(top, #ebebeb, #e0e0e0);
  background-image: linear-gradient(to bottom, #ebebeb, #e0e0e0);
  -webkit-box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, 0.58);
  box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, 0.58); }
  .content .switch .switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 100px;
    margin-left: 17px;
    height: 50px;
    font-size: 24px;
    color: #7f7f7f;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.45);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    font-family: "Conv_Roboto-Black";
    text-align: center;
    cursor: pointer; }
    .content .switch .switch-label .label-wrap {
      padding: 5px 3px 5px 28px; }
    .content .switch .switch-label .size {
      font-size: 24px;
      line-height: 24px;
      text-align: left; }
    .content .switch .switch-label .price {
      font-size: 15px;
      font-family: "Conv_Roboto-Regular";
      text-align: left; }
      .content .switch .switch-label .price .curency {
        font-size: 12px; }
  .content .switch .switch-label-on {
    margin-left: 0; }
  .content .switch .switch-input {
    display: none; }
  .content .switch .switch-input:checked + .switch-label {
    color: #fff;
    background-color: transparent;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
    -webkit-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: color, text-shadow;
    transition-property: color, text-shadow; }
  .content .switch .switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 116px;
    /* Note: left: 50%; doesn't transition in WebKit */ }
  .content .switch .switch-selection {
    position: absolute;
    z-index: 1;
    top: 1px;
    left: 17px;
    display: block;
    -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.56);
    background: url(../images/notching.png) no-repeat 5px center, -webkit-linear-gradient(top, #d0f1e0, #44c680 1px, #029d4b 100px, #017c3b 101px);
    background: url(../images/notching.png) no-repeat 5px center, linear-gradient(to bottom, #d0f1e0, #44c680 1px, #029d4b 100px, #017c3b 101px);
    border-top: 1px solid #46c681;
    border-left: 1px solid #187d47;
    border-right: 1px solid #187d47;
    border-bottom: 1px solid #00411e;
    width: 101px;
    height: 48px;
    -webkit-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out; }

.content .thickness-switch {
  position: relative;
  height: 6px;
  width: 235px;
  margin: 40px auto 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#e0e0e0));
  background-image: -webkit-linear-gradient(top, #ebebeb, #e0e0e0);
  background-image: linear-gradient(to bottom, #ebebeb, #e0e0e0);
  -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.58);
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.58); }
  .content .thickness-switch .switch-label {
    position: relative;
    z-index: 2;
    float: left;
    width: 117px;
    height: 50px;
    font-size: 17px;
    background-color: transparent;
    color: #7f7f7f;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.45);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    font-family: "Conv_Roboto-Regular";
    text-align: center;
    cursor: pointer;
    margin-top: -25px; }
    .content .thickness-switch .switch-label .size {
      font-size: 24px;
      line-height: 24px;
      text-align: left; }
    .content .thickness-switch .switch-label .price {
      font-size: 15px;
      font-family: "Conv_Roboto-Regular";
      text-align: left; }
      .content .thickness-switch .switch-label .price .curency {
        font-size: 12px; }
  .content .thickness-switch .switch-label-on {
    margin-left: 0; }
  .content .thickness-switch .switch-input {
    display: none; }
  .content .thickness-switch .switch-input:checked + .switch-label {
    color: #33a06c;
    background-color: transparent;
    font-family: "Conv_Roboto-Black";
    text-decoration: underline;
    -webkit-transition: 0.15s ease-out;
    transition: 0.15s ease-out;
    -webkit-transition-property: color, text-shadow;
    transition-property: color, text-shadow; }
  .content .thickness-switch .switch-input:checked + .switch-label-on ~ .switch-selection {
    left: 135px;
    /* Note: left: 50%; doesn't transition in WebKit */ }
  .content .thickness-switch .switch-selection {
    position: absolute;
    z-index: 1;
    top: 1px;
    left: 25px;
    display: block;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.56);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.56);
    background: -webkit-linear-gradient(top, #cef0de, #31ba71 1px, #118547 5px);
    background: linear-gradient(to bottom, #cef0de, #31ba71 1px, #118547 5px);
    border-top: 1px solid #46c681;
    border-left: 1px solid #238350;
    border-right: 1px solid #238350;
    border-bottom: 1px solid #044321;
    width: 71px;
    height: 6px;
    -webkit-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out; }
    .content .thickness-switch .switch-selection .button-content {
      border-top: 1px solid #d0f1df;
      border-left: 1px solid #147a44;
      border-right: 1px solid #147a44;
      margin: 1px;
      height: 4px;
      display: block; }

.banner-section {
  margin-top: 70px; }
  .banner-section img.banner {
    width: 100%;
    height: auto; }

.pizza-par {
  margin-top: 70px; }
  .pizza-par .wrapp-pizza {
    text-align: center; }
    .pizza-par .wrapp-pizza img.pizza {
      width: 100%;
      height: auto; }
  .pizza-par .slogan {
    margin-top: 35px; }
    .pizza-par .slogan .line {
      font-family: "Conv_Roboto-Regular";
      font-size: 71px;
      text-align: right;
      text-transform: uppercase;
      line-height: 80px; }
    .pizza-par .slogan .green {
      color: #33a06c; }
    .pizza-par .slogan .red {
      color: #d0333d; }
    .pizza-par .slogan .bold {
      font-weight: bold; }

.footer {
  color: #fff;
  margin-bottom: 25px;
  margin-top: 40px; }
  .footer .top-line {
    font-size: 17px;
    text-align: center;
    font-family: "Conv_Roboto-Light";
    padding-top: 20px; }
  .footer .left {
    padding-right: 0;
    background-color: #33a06c; }
    .footer .left .tel {
      text-align: right; }
  .footer .center {
    padding-left: 0;
    padding-right: 0; }
    .footer .center .top-line {
      color: #d0333d;
      font-style: italic;
      font-family: "Conv_Roboto-Regular";
      font-size: 23px;
      padding-top: 15px; }
    .footer .center .content {
      margin-top: 5px; }
      .footer .center .content .list {
        padding: 30px 35px;
        background-color: #d0333d;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        width: 180px;
        height: 180px;
        margin: 0 auto; }
  .footer .right {
    padding-left: 0;
    background-color: #d0333d; }
    .footer .right .tel {
      text-align: left; }
    .footer .right .list {
      margin-left: 70px; }
  .footer .content {
    margin-top: 25px;
    margin-bottom: 40px; }
    .footer .content .tel {
      font-size: 19px;
      font-family: "Conv_Roboto-Regular";
      line-height: 30px; }
    .footer .content .list {
      text-transform: uppercase;
      font-size: 23px;
      font-family: "Conv_Roboto-Light"; }
      .footer .content .list .title {
        font-family: "Conv_Roboto-Black"; }
      .footer .content .list ul {
        list-style: none;
        padding: 0;
        margin: 0; }
        .footer .content .list ul li {
          padding: 0 5px;
          border-left: 1px solid #fff;
          line-height: 23px;
          margin: 5px 0; }
          .footer .content .list ul li a {
            color: #fff; }
          .footer .content .list ul li a:hover {
            text-decoration: none; }

.pizza-type-icon {
  background: url(../images/pizza-type-icon.png) no-repeat center center;
  height: 29px;
  width: 42px; }

.peppers {
  background-position: 0 0; }

.seafood {
  background-position: -42px 0; }

.brocoli {
  background-position: -84px 0; }
