﻿@import '../fonts/Roboto-Black/fonts.css';
@import '../fonts/Roboto-Light/fonts.css';
@import '../fonts/Roboto-Regular/fonts.css';

$Roboto-Black: 'Conv_Roboto-Black';
$Roboto-Light: 'Conv_Roboto-Light';
$Roboto-Regular: 'Conv_Roboto-Regular';

 @font-face {font-family:"Roboto Black";src:url("Roboto-Black.eot?") format("eot"),url("Roboto-Black.woff") format("woff"),url("Roboto-Black.ttf") format("truetype"),url("Roboto-Black.svg#Roboto-Black") format("svg");font-weight:normal;font-style:normal;}

.top-bar {
  background: linear-gradient(to bottom, #ffffff, #cdcdcd);
  height: 28px;
  padding-top: 3px;
  font-family: $Roboto-Regular;
  .city {
    display: block;
  }
  .sity-select {
    display: inline-block;
    .wrapp {
      position: relative;
      ul {
        padding: 0 10px;
        margin: 0;
        list-style: none;
        width: 100px;
        border: 1px solid transparent;
        li {
          display: none;
          a {
            color: #339966;
            text-decoration: underline;
          }
        }
        li:first-child {
          display: block;
          a:after {
            width: 0;
            height: 0;
            position: relative;
            right: -5px;
            top: 9px;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            border-color: #666666 transparent transparent transparent;
            content: '';
          }
        }
      }
    }
    .wrapp:hover {
      ul {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: -14px;
        background: #fff;
        border: 1px solid #eee;
        z-index: 100;
        li {
          display: block;
        }
        li:first-child {
          display: block;
          a:after {
            width: 0;
            height: 0;
            position: relative;
            right: -5px;
            top: 9px;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            border-color: #666666 transparent transparent transparent;
            content: '';
          }
        }
      }
    }
  }
  .pay-service {
    display: inline-block;
  }
  .wrapp-log-reg {
    text-align: right;
    .log-reg {
      background: url(../images/user.png) no-repeat left center;
      padding-left: 30px;
      display: inline-block;
      color: #666;
        a {
          color: #666666;
          text-decoration: underline;
        }
    }
  }
}
.top-section {
  .logo {
    text-align: center;
    margin-top: 12px;
  }
  .header-center {
    margin-top: 45px;
    .social-icon {
      display: inline-block;
      a {
        display: block;
        margin: 2px;
      }
    }
    .header-contact {
      display: inline-block;
      color: #339966;
      font-size: 24px;
      text-transform: uppercase;
      font-family: $Roboto-Black;
      .phone {
        font-size: 40px;
        line-height: 41px;
        font-family: $Roboto-Regular;
         .mark {
          font-size: 54px;
          color: #ce232f;
          font-family: $Roboto-Black;
        }
      }
    }
  }
  .cart {
    margin-top: 50px;
    text-align: center;
    font-family: $Roboto-Black;
    .cart-image {
      display: inline-block;
      vertical-align: top;
      margin-top: 7px;
      margin-right: 5px;
    }
    .content {
      display: inline-block;
    }
    .title a {
      color: #666666;
      text-transform: uppercase;
      text-decoration: underline;
      font-size: 25px;
    }
    .price {
      color: #339966;
      font-size: 30px;
      line-height: 30px;
      .currency {
        font-size: 22px;
      }
    }
  }
}


.content {
  .item {
    text-align: center;
    margin-top: 70px;
     font-family: $Roboto-Black;
     min-height: 575px;
     .pizza-type {
      position: absolute;
      right: 40px;
      top: 114px;
      .pizza-type-icon {
        display: none;
      }
      .active {
        display: block;
      }
     }
     .stock {
      position: absolute;
      height: 45px;
      width: 155px;
      background: #df243b;
      font-family: $Roboto-Regular;
      font-size: 33px;
      color: #fff;
      line-height: 45px;
      top: 140px;
      left: 10px;
      box-shadow: 0 2px 3px rgba(0,0,0,.4);
      display: none;
     }
     .new {
      position: absolute;
      height: 45px;
      width: 155px;
      background: #01953c;
      font-family: $Roboto-Regular;
      font-size: 33px;
      color: #fff;
      line-height: 45px;
      top: 140px;
      left: 10px;
      box-shadow: 0 2px 3px rgba(0,0,0,.4);
      display: none;
     }
     .stock:after {
      width: 155px;
      height: 45px;
      content: '';
      transform: rotate(20deg);
      position: absolute;
      top: 28px;
      left: 4px;
      background: #de253f;
      z-index: -100;
      opacity: .99;
      box-shadow: 2px 2px 3px rgba(0,0,0,.4);
     }
     .new:after {
      width: 155px;
      height: 45px;
      content: '';
      transform: rotate(20deg);
      position: absolute;
      top: 28px;
      left: 4px;
      background: #01953c;
      z-index: -100;
      opacity: .99;
      box-shadow: 2px 2px 3px rgba(0,0,0,.4);
     }
    .title {
      color: #cd202c;
      font-size: 29px;
      margin-bottom: 10px;
    }
    .images {
      margin-bottom: 10px;
    }
    .composition {
      color: #009b48;
      font-size: 12px;
    }
    .green {
        color: #3baf78;
        font-family: $Roboto-Regular;
      }
    .ingredients {
      text-align: left;
      padding-left: 13px;
      padding-right: 13px;
      margin-bottom: 10px;
      color: #666666;
      font-size: 18px;
      font-family: $Roboto-Light;
      text-align: right;
      button.ingredients {
        float: left;
        width: 138px;
        height: 23px;
        background: linear-gradient(to bottom, #fff, #bbbaba 1px, #959494 22px, #757474 23px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.55);
        border-top: 1px solid #bcbcbc;
        border-left: 1px solid #747474;
        border-right: 1px solid #747474;
        border-bottom: 1px solid #3d3d3d;
        color: #fff;
        font-family: $Roboto-Light;
        text-align: center;
        font-size: 16px;
        line-height: 16px;
      }
    }
    .order {
      text-align: right;
      padding-left: 13px;
      padding-right: 13px;
      font-family: $Roboto-Black;
      font-size: 24px;
      line-height: 40px;
      .order-button {
        float: left;
        width: 138px;
        height: 38px;
        background: linear-gradient(to bottom, #d0f1e0, #44c680 1px, #049d4b 37px, #027c3b 38px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.55);
        border-top: 1px solid #46c681;
        border-left: 1px solid #46c681;
        border-right: 1px solid #46c681;
        border-bottom: 1px solid #00411f;
        font-family: $Roboto-Black;
        font-size: 20px;
        line-height: 20px;
        color: #fff;
        text-transform: uppercase;
      }
      .more {
        background: linear-gradient(to bottom, #ffecbf, #feb200 1px, #ec8304 37px, #bb6804 38px);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.55);
        border-top: 1px solid #feb300;
        border-left: 1px solid #ac6b01;
        border-right: 1px solid #ac6b01;
        border-bottom: 1px solid #633702;
      }
      .curency {
        font-size: 18px;
      }
    }
  }
  .stock-item {
    .stock {
      display: block;
    }
    .composition {
      color: #d0333d;
    }
    .thickness-switch .switch-input:checked + .switch-label {
      color: #d0333d;
    }
    .switch .switch-selection {
      background: url(../images/notching.png) no-repeat 5px center, linear-gradient(to bottom, #fad9db, #ed656e 1px, #d1343f 100px, #a62931 101px);
      border-top: 1px solid #ec666f;
      border-left: 1px solid #9d363d;
      border-right: 1px solid #9d363d;
      border-bottom: 1px solid #57151a;
    }
    .thickness-switch .switch-selection {
      background: linear-gradient(to bottom, #fad9db, #ed656e 1px, #d1343f 5px);
      border-top: 1px solid #ec666f;
      border-left: 1px solid #9d363d;
      border-right: 1px solid #9d363d;
      border-bottom: 1px solid #57151a;
    }
    .order .order-button {
      background: linear-gradient(to bottom, #fad9db, #ed656e 1px, #d1343f 37px, #a62931 38px);
      border-top: 1px solid #ec666f;
      border-left: 1px solid #9d363d;
      border-right: 1px solid #9d363d;
      border-bottom: 1px solid #57151a;
    }
    .order {
      .price {
        display: none;
      }
    }
    .stock-price-block {
      display: block;
      line-height: 1;
      .red {
        color: #cc3333;
      }
      .price-stock {
        font-family: $Roboto-Black;
        font-size: 24px;
        line-height: 24px;
      }
      .price-old {
        font-family: $Roboto-Black;
        font-size: 14px;
        text-decoration: line-through;
        float: left;
        margin-left: 10px;
        .curency {
          font-size: 12px;
        }
      }
    }
  }
  .new-item {
    .new {
      display: block;
    }
    .composition {
      color: #d0333d;
    }
    .thickness-switch .switch-input:checked + .switch-label {
      color: #d0333d;
    }
    .switch .switch-selection {
      background: url(../images/notching.png) no-repeat 5px center, linear-gradient(to bottom, #fad9db, #ed656e 1px, #d1343f 100px, #a62931 101px);
      border-top: 1px solid #ec666f;
      border-left: 1px solid #9d363d;
      border-right: 1px solid #9d363d;
      border-bottom: 1px solid #57151a;
    }
    .thickness-switch .switch-selection {
      background: linear-gradient(to bottom, #fad9db, #ed656e 1px, #d1343f 5px);
      border-top: 1px solid #ec666f;
      border-left: 1px solid #9d363d;
      border-right: 1px solid #9d363d;
      border-bottom: 1px solid #57151a;
    }
    .order .order-button {
      background: linear-gradient(to bottom, #fad9db, #ed656e 1px, #d1343f 37px, #a62931 38px);
      border-top: 1px solid #ec666f;
      border-left: 1px solid #9d363d;
      border-right: 1px solid #9d363d;
      border-bottom: 1px solid #57151a;
    }
    .order {
      .price {
        display: none;
      }
    }
    .stock-price-block {
      display: block;
      line-height: 1;
      .red {
        color: #cc3333;
      }
      .price-stock {
        font-family: $Roboto-Black;
        font-size: 24px;
        line-height: 24px;
      }
      .price-old {
        font-family: $Roboto-Black;
        font-size: 14px;
        text-decoration: line-through;
        float: left;
        margin-left: 10px;
        .curency {
          font-size: 12px;
        }
      }
    }
  }
  .switch {
    position: relative;
    height: 50px;
    width: 235px;
    margin: 20px auto;
    background-image: linear-gradient( to bottom, #ebebeb, #e0e0e0);
    box-shadow: inset 0px 2px 7px 0px rgba(0, 0, 0, 0.58);
    
    .switch-label {
      position: relative;
      z-index: 2;
      float: left;
      width: 100px;
      margin-left: 17px;
      height: 50px;
      font-size: 24px;
      color: #7f7f7f;
      text-shadow: 0px 2px 3px rgba(255,255,255,0.45);
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      font-family: $Roboto-Black;
      text-align: center;
      cursor: pointer;
      .label-wrap {
        padding: 5px 3px 5px 28px;
      }
      .size {
        font-size: 24px;
        line-height: 24px;
        text-align: left;
      }
      .price {
        font-size: 15px;
        font-family: $Roboto-Regular;
        text-align: left;
        .curency {
          font-size: 12px;
        }
      }
    }
    .switch-label:active {
      
    }
    .switch-label-off {

    }
    .switch-label-on {
      margin-left: 0;
    }
    .switch-input {
      display: none;
    }
    .switch-input:checked + .switch-label {
      color: #fff;
      background-color: transparent;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
      -webkit-transition: 0.15s ease-out;
      -moz-transition: 0.15s ease-out;
      -ms-transition: 0.15s ease-out;
      -o-transition: 0.15s ease-out;
      transition: 0.15s ease-out;
      -webkit-transition-property: color, text-shadow;
      -moz-transition-property: color, text-shadow;
      -ms-transition-property: color, text-shadow;
      -o-transition-property: color, text-shadow;
      transition-property: color, text-shadow;
    }
    .switch-input:checked + .switch-label-on ~ .switch-selection {
      left: 116px;
      /* Note: left: 50%; doesn't transition in WebKit */
    }
    .switch-selection {
      position: absolute;
      z-index: 1;
      top: 1px;
      left: 17px;
      display: block;
      box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.56);
      background: url(../images/notching.png) no-repeat 5px center, linear-gradient(to bottom, #d0f1e0, #44c680 1px, #029d4b 100px, #017c3b 101px);
      border-top: 1px solid #46c681;
      border-left: 1px solid #187d47;
      border-right: 1px solid #187d47;
      border-bottom: 1px solid #00411e;
      width: 101px;
      height: 48px;
      -webkit-transition: left 0.15s ease-out;
      -moz-transition: left 0.15s ease-out;
      -ms-transition: left 0.15s ease-out;
      -o-transition: left 0.15s ease-out;
      transition: left 0.15s ease-out;
    }
  }
  .thickness-switch {
    position: relative;
    height: 6px;
    width: 235px;
    margin: 40px auto 20px;
    background-image: linear-gradient( to bottom, #ebebeb, #e0e0e0);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.58);
    
    .switch-label {
      position: relative;
      z-index: 2;
      float: left;
      width: 117px;
      height: 50px;
      font-size: 17px;
      background-color: transparent;
      color: #7f7f7f;
      text-shadow: 0px 2px 3px rgba(255,255,255,0.45);
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      font-family: $Roboto-Regular;
      text-align: center;
      cursor: pointer;
      margin-top: -25px;
      .label-wrap {
      }
      .size {
        font-size: 24px;
        line-height: 24px;
        text-align: left;
      }
      .price {
        font-size: 15px;
        font-family: $Roboto-Regular;
        text-align: left;
        .curency {
          font-size: 12px;
        }
      }
    }
    .switch-label-on {
      margin-left: 0;
    }
    .switch-input {
      display: none;
    }
    .switch-input:checked + .switch-label {
      color: #33a06c;
      background-color: transparent;
      font-family: $Roboto-Black;
      text-decoration: underline;
      -webkit-transition: 0.15s ease-out;
      -moz-transition: 0.15s ease-out;
      -ms-transition: 0.15s ease-out;
      -o-transition: 0.15s ease-out;
      transition: 0.15s ease-out;
      -webkit-transition-property: color, text-shadow;
      -moz-transition-property: color, text-shadow;
      -ms-transition-property: color, text-shadow;
      -o-transition-property: color, text-shadow;
      transition-property: color, text-shadow;
    }
    .switch-input:checked + .switch-label-on ~ .switch-selection {
      left: 135px;
      /* Note: left: 50%; doesn't transition in WebKit */
    }
    .switch-selection {
      position: absolute;
      z-index: 1;
      top: 1px;
      left: 25px;
      display: block;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.56);
      background: linear-gradient(to bottom, #cef0de, #31ba71 1px, #118547 5px);
      border-top: 1px solid #46c681;
      border-left: 1px solid #238350;
      border-right: 1px solid #238350;
      border-bottom: 1px solid #044321;
      width: 71px;
      height: 6px;
      -webkit-transition: left 0.15s ease-out;
      -moz-transition: left 0.15s ease-out;
      -ms-transition: left 0.15s ease-out;
      -o-transition: left 0.15s ease-out;
      transition: left 0.15s ease-out;
      .button-content {
        border-top: 1px solid #d0f1df;
        border-left: 1px solid #147a44;
        border-right: 1px solid #147a44;
        margin: 1px;
        height: 4px;
        display: block;
      }
    }
  }
}

.banner-section {
  margin-top: 70px;
  img.banner {
    width: 100%;
    height: auto;
  }
}

.pizza-par {
  margin-top: 70px;
  .wrapp-pizza {
    text-align: center;
    img.pizza {
      width: 100%;
      height: auto;
    }
  }
  .slogan {
    margin-top: 35px;
    .line {
      font-family: $Roboto-Regular;
      font-size: 71px;
      text-align: right;
      text-transform: uppercase;
      line-height: 80px;
    }
    .green {
      color: #33a06c;
    }
    .red {
      color: #d0333d;
    }
    .bold {
      font-weight: bold;
    }
  }
}

.footer {
  color: #fff;
  margin-bottom: 25px;
  margin-top: 40px;
  .top-line {
    font-size: 17px;
    text-align: center;
    font-family: $Roboto-Light;
    padding-top: 20px;
  }
  .left {
    padding-right: 0;
    background-color: #33a06c;
    .tel {
      text-align: right;
    }
  }
  .center {
    padding-left: 0;
    padding-right: 0;
    .top-line {
      color: #d0333d;
      font-style: italic;
      font-family: $Roboto-Regular;
      font-size: 23px;
      padding-top: 15px;
    }
    .content {
      margin-top: 5px;
      .list {
        padding: 30px 35px;
        background-color: #d0333d;
        border-radius: 50%;
        width: 180px;
        height: 180px;
        margin: 0 auto;
      }
    }
  }
  .right {
    padding-left: 0;
    background-color: #d0333d;
    .tel {
      text-align: left;
    }
    .list {
      margin-left: 70px;
    }
  }
  .content {
    margin-top: 25px;
    margin-bottom: 40px;
    .tel {
      font-size: 19px;
      font-family: $Roboto-Regular;
      line-height: 30px;
    }
    .list {
      text-transform: uppercase;
      font-size: 23px;
      font-family: $Roboto-Light;
      .title {
        font-family: $Roboto-Black;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          padding: 0 5px;
          border-left: 1px solid #fff;
          line-height: 23px;
          margin: 5px 0;
          a {
            color: #fff;
          }
          a:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.pizza-type-icon {
  background: url(../images/pizza-type-icon.png) no-repeat center center;
  height: 29px;
  width: 42px;
}
.peppers {
  background-position: 0 0;
}
.seafood {
  background-position: -42px 0;
}
.brocoli {
  background-position: -84px 0;
}